
@{
    ViewBag.Title = "Trang chủ admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <h2 style="padding-bottom: 50px;text-align: center;text-align: center;">Trang chủ quản trị website</h2>
            <img src="~/Areas/Admin/Assets/images/sanpham/banner.png" />
        </div>
    </div>
</div>

